modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 19907
externalPort = 3000

[[ports]]
localPort = 19908
externalPort = 3002

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://nfrinikjzazzdhqaucmx.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_-q6NRmSwn5weajhju4ngnQ_pe_A7b1S"

[nix]
channel = "stable-25_05"
